{% extends 'base.html' %}
{% from '_macros.html' import render_hive_card %}

{% block title %}{{ _('Hive Overview') }}{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>{{ _('Hive Overview') }}</h1>
    </div>

    <div class="row">
        {% for hive in hives %}
            {{ render_hive_card(hive) }}
        {% else %}
            <div class="col">
                <div class="alert alert-info">{{ _('No hives available yet.') }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
