<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neue Königin für Bienenstock {{ hive.stocknummer }} hinzufügen</title>
</head>
<body>
    <h1>Neue Königin für Bienenstock: {{ hive.stocknummer }} hinzufügen</h1>
    <form method="POST">
        <label for="origin">Herkunft:</label><br>
        <input type="text" id="origin" name="origin" required><br><br>

        <label for="birth_date">Geburtsjahr/Schlupfdatum:</label><br>
        <input type="date" id="birth_date" name="birth_date" required><br><br>

        <label for="color_mark">Farbmarkierung:</label><br>
        <input type="text" id="color_mark" name="color_mark"><br><br>

        <label for="breed">Rasse/Genetik:</label><br>
        <input type="text" id="breed" name="breed"><br><br>

        <label for="introduction_date">Einweiseldatum:</label><br>
        <input type="date" id="introduction_date" name="introduction_date"><br><br>

        <input type="checkbox" id="marked" name="marked">
        <label for="marked">Zeichnung vorhanden</label><br><br>

        <input type="checkbox" id="clipped" name="clipped">
        <label for="clipped">Geflügelt/ungeflügelt</label><br><br>

        <input type="submit" value="Hinzufügen">
    </form>
    <br>
    <a href="{{ url_for('main.queens_controller.list_queens', hive_id=hive.id) }}">Zurück zur Königinnen-Liste</a>
</body>
</html>
