{% extends "base.html" %}

{% block title %}{{ _('Treatment Report') }}{% endblock %}

{% block content %}
    <h1>{{ _('Treatment Report') }}</h1>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>{{ _('Hive ID') }}</th>
                <th>{{ _('Date') }}</th>
                <th>{{ _('Type') }}</th>
                <th>{{ _('Agent') }}</th>
                <th>{{ _('Dosage') }}</th>
                <th>{{ _('Duration') }}</th>
                <th>{{ _('Efficacy Observation') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for treatment in treatments %}
            <tr>
                <td>{{ treatment.hive_id }}</td>
                <td>{{ treatment.treatment_date }}</td>
                <td>{{ treatment.treatment_type }}</td>
                <td>{{ treatment.used_agent }}</td>
                <td>{{ treatment.dosage }}</td>
                <td>{{ treatment.duration }}</td>
                <td>{{ treatment.efficacy_observation }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7">{{ _('No treatments found.') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('main.index') }}">{{ _('Back to Home') }}</a>
{% endblock %}
